@{
    ViewData["Title"] = "Authentication page";
}

<div class="text-center">
    <h1 class="display-4">Authentication</h1>
    <div class="authentication-box">
        @using (Html.BeginForm("CheckSecurityCode", "Home", FormMethod.Post))
        {
            <label for="securityCode">Code</label>
            <br />
            <input type="password" name="securityCode" />
            <input type="submit" value="Send" />
        }
    </div>
</div>
